body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    height: 60%;
    width: 60%;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box1{
    border: 2px solid red;
    height: 40%;
    width: 60%;
}
img{
    height: 100%;
    width: 100%;
}
.objective{
    height: 20%;

}