{% extends 'home.html' %}
{% block project %}
<div class="container my-0">
    <h2 class="cardtitle text-center my-4 py-3">My Projects</h2>
    <div class="row">
      <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/300x150/?laptop" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Python Projects</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/300x150/?laptop" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">C++ Projects</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/300x150/?laptop" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Frontend designing</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="container my-0">
    <h2 class="cardtitle text-center my-4 py-3">Backend Django Projects</h2>
    <div class="row">
      <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/300x150/?laptop" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Python Projects</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/300x150/?laptop" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">C++ Projects</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/300x150/?laptop" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Frontend designing</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="container my-0">
    <h2 class="cardtitle text-center my-4 py-3">Frontend Designing Projects</h2>
    <div class="row">
      <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/300x150/?laptop" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Python Projects</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/300x150/?laptop" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">C++ Projects</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/300x150/?laptop" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Frontend designing</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    </div>
  </div>
{% endblock project %}