.main{
    background-color: aliceblue;
    width: 90%;
    display: flex;
    justify-content: last baseline;
    font-size: 40px;
    margin: auto;
    padding-left: 5px;
}
.main1{
    width: 90%;
    height: 1200px;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap; 
    margin: auto;

}
.items1{
    height: 250px;
    width: 45%;
    margin: 20px;
    position: relative;
   display: flex;
   flex-wrap: wrap;

}
.items1 img{
    width: 100%;
    height: 250px;
}
.para{
    background-color: aliceblue;
    width: 90%;
    display: flex;
    justify-content: last baseline;
    align-items: center;
    margin: auto;
    padding-left: 5px;
    text-align: justify;
}